In [1]:
%load_ext sql
%sql sqlite:///SQL/longlist.db

In [6]:
%%sql
SELECT * FROM longlist LIMIT 1

 * sqlite:///SQL/longlist.db
Done.

[('9788439736967', 'Boulder', 'Eva Baltasar', "Nicole d'Amonville Alegría", 'paperback', 112, 'Literatura Random House', '2022-08-02', 2023, 2779, 3.77)]

In [21]:
%%sql 
metadata.tables.keys()

 * sqlite:///SQL/longlist.db
(sqlite3.OperationalError) near "metadata": syntax error
[SQL: metadata.tables.keys()]
(Background on this error at: https://sqlalche.me/e/20/e3q8)